@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.landingPage {
  background: url("../../images/home-bg.jpg");
  background-size: cover;
}

.container {
  background-color: #05386b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  height: 50px;
}

.logo img {
  height: 100%;
  position: absolute;
  left: 100px;
  cursor: pointer;
}

.brand a {
  position: absolute;
  text-decoration: none;
  left: 200px;
  color: #c2cad0;
  letter-spacing: 1px;
  top: 0;
  margin-top: 15px;
  font-size: 1.3em;
  font-family: "Xanh Mono", monospace;
}

.bookNow {
  position: absolute;
  right: 10rem;
  padding: 2px 15px;
  font-size: 1.2rem;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid #00a36c;
  background: transparent;
  cursor: pointer;
}

.bookNow a,
.bookNow a:visited,
.bookNow a:active {
  text-decoration: none;
  color: #edf5e1;
}

.bookNow:hover,
.bookNow a:hover {
  background-color: #e3e2df;
  color: #00a36c;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  background-color: #254a3f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menuList {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuList li {
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 1.2em;
  position: relative;
}

.menuList li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.dropdown {
  position: relative;
}

.drop {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: coral;
  z-index: 10;
  height: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  left: -20px;
}

.drop li {
  margin: 20px;
  white-space: nowrap;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
}

.drop li:hover {
  background-color: black;
  width: 100%;
  left: -20px;
}

.caro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caro h2 {
  position: relative;
  font-size: 2.4rem;
  margin: 15px;
  letter-spacing: 5px;
  background: url(https://images.pexels.com/photos/673857/pexels-photo-673857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: bottom;
  -webkit-background-clip: text;
  color: transparent;
  animation: header 5s ease-in-out infinite alternate-reverse running;
}

@-webkit-keyframes header {
  0% {
    background-position: bottom;
    -webkit-transition: all 10ms ease-in-out;
    transition: all 10ms ease-in-out;
  }
  100% {
    background-position: top;
    -webkit-transition: all 10ms ease-in-out;
    transition: all 10ms ease-in-out;
  }
}

@keyframes header {
  0% {
    background-position: bottom;
    -webkit-transition: all 10ms ease-in-out;
    transition: all 10ms ease-in-out;
  }
  100% {
    background-position: top;
    -webkit-transition: all 10ms ease-in-out;
    transition: all 10ms ease-in-out;
  }
}

.caro h2::before {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 100px;
  background-color: transparent;
  background: url(https://images.pexels.com/photos/673857/pexels-photo-673857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: bottom;
  color: transparent;
  animation: header 5s ease-in-out infinite alternate-reverse running;
}

.caro h2::after {
  content: "";
  position: absolute;
  right: -70px;
  top: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  height: 2px;
  width: 100px;
  background-color: transparent;
  background: url(https://images.pexels.com/photos/673857/pexels-photo-673857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: bottom;
  color: transparent;
  animation: header 5s ease-in-out infinite alternate-reverse running;
}

.caro_inner {
  position: relative;
  width: 100%;
}

.caro img {
  width: 100%;
}

.left,
.right {
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 50px;
}

.left img,
.right img {
  height: 100%;
  opacity: 0.5;
}

.left {
  left: 50px;
  top: 50%;
}

.right {
  right: 50px;
  top: 50%;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 1px 2px 20px black;
          box-shadow: 1px 2px 20px black;
}

.star h2 {
  margin: 15px;
}

.star img {
  margin-top: 15px;
  height: 50px;
  width: 50px;
  background-color: transparent;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.info,
.banner {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-color: #00a36c;
}

.info {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(black)), url("https://images.pexels.com/photos/2528118/pexels-photo-2528118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background: linear-gradient(rgba(0, 0, 0, 0.1), black), url("https://images.pexels.com/photos/2528118/pexels-photo-2528118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.info h1 {
  text-align: center;
  margin: 10px 0 5px;
  padding: 5px;
  font-family: "Lobster Two", cursive;
  font-size: 2.3em;
  letter-spacing: 2px;
  background: -webkit-gradient(linear, left top, right top, from(coral), to(#0721cb));
  background: linear-gradient(to right, coral, #0721cb);
  -webkit-background-clip: text;
  color: transparent;
}

.info input,
.info textarea {
  margin: 50px;
  padding: 20px;
  outline: none;
  border-color: transparent transparent #0ebea3 transparent;
  background: transparent;
}

.info input,
.info textarea,
.info input:focus,
.info textarea:focus {
  color: whitesmoke;
  font-size: 1em;
  letter-spacing: 3px;
}

.info textarea {
  max-width: 890px;
  max-height: 168px;
  min-width: 412px;
  min-height: 142px;
}

.info ::-webkit-input-placeholder {
  color: whitesmoke;
}

.info :-ms-input-placeholder {
  color: whitesmoke;
}

.info ::-ms-input-placeholder {
  color: whitesmoke;
}

.info ::placeholder {
  color: whitesmoke;
}

.info button {
  margin: auto;
  position: relative;
  padding: 10px;
  font-size: 25px;
  letter-spacing: 2px;
  width: 200px;
  border: none;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 0 2px 20px -6px black;
  box-shadow: 0 2px 20px -6px black;
  color: teal;
}

.info button:hover {
  color: whitesmoke;
  background-color: teal;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(black)), url(https://images.pexels.com/photos/4793432/pexels-photo-4793432.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background: linear-gradient(rgba(0, 0, 0, 0.1), black), url(https://images.pexels.com/photos/4793432/pexels-photo-4793432.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: right top;
}

.banner h1 {
  position: relative;
  text-align: center;
  margin: 10px 0 5px;
  padding: 5px;
  font-family: "Lobster Two", cursive;
  font-size: 2.3em;
  letter-spacing: 2px;
  background: -webkit-gradient(linear, left top, right top, from(coral), to(#0721cb));
  background: linear-gradient(to right, coral, #0721cb);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-box-reflect: below -20px linear-gradient(rgba(20, 18, 18, 0.216), rgba(31, 25, 25, 0));
}

.banner h3 {
  position: relative;
  line-height: 30px;
  margin: 40px 0 30px 160px;
}

.banner h3 div {
  position: absolute;
  height: 60px;
  top: 50%;
  left: -100px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner img {
  height: 100%;
}

.banner .phn_icon {
  height: 46px;
}

.banner .email_icon {
  height: 50px;
}

.banner .email_ad {
  margin-top: 60px;
}

.banner .social {
  text-align: center;
  margin: 100px 0;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  background: url(https://images.pexels.com/photos/1279813/pexels-photo-1279813.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
}

.banner .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 20px;
  padding: 10px;
}

.banner .social_icons div {
  cursor: pointer;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 20px -5px;
  box-shadow: 0 2px 20px -5px;
}

.banner .social_icons div img {
  height: 100%;
}

.banner .social_icons div:hover {
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.banner h3 {
  letter-spacing: 2px;
  font-family: "Inconsolata", monospace;
  color: whitesmoke;
}

footer {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #254a3f;
}

footer p {
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Cutive Mono", monospace;
  letter-spacing: 2px;
}

.test {
  height: 100vh;
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.test .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap row;
  flex-flow: wrap row;
  background-color: coral;
}

.test .links li {
  padding: 13px;
  list-style: none;
  background-color: rgba(255, 0, 0, 0.442);
}

.test .links li a {
  color: whitesmoke;
  font-size: 1.4rem;
  text-decoration: none;
}

.two {
  position: relative;
}

.drop2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid lime;
  padding: 10px;
}

.drop2 li {
  margin: 10px 0;
}

.drop2 li a {
  text-align: center;
}
/*# sourceMappingURL=contact.css.map */